<div class="good-text-html">
  <div class="list">
    <ul class="left">
      <li class="text html-cursor">
        <img src="../../assets/img/1.jpg" alt="">
        <div class="title">
          <h3>卷妈碎碎念|当妈之后的顿悟分享给你们卷妈碎碎念|
            当妈之后的顿悟分享给你们卷妈碎碎念</h3>
        </div>
        <div class="detail">
          <img src="../../assets/img/1.jpg" alt="">
          <div class="author">Madisoon</div>
          <div class="good">233</div>
        </div>
      </li>
      <li class="text html-cursor">
        <img src="../../assets/img/2.jpg" alt="">
        <div class="title">
          <h3>卷妈碎碎念|当妈之后的顿悟分享给你们卷妈碎碎念|
            当妈之后的顿悟分享给你们卷妈碎碎念</h3>
        </div>
        <div class="detail">
          <img src="../../assets/img/2.jpg" alt="">
          <div class="author">Madisoon</div>
          <div class="good">233</div>
        </div>
      </li>
      <li class="text html-cursor">
        <img src="../../assets/img/3.jpg" alt="">
        <div class="title">
          <h3>卷妈碎碎念|当妈之后的顿悟分享给你们卷妈碎碎念|
            当妈之后的顿悟分享给你们卷妈碎碎念</h3>
        </div>
        <div class="detail">
          <img src="../../assets/img/3.jpg" alt="">
          <div class="author">Madisoon</div>
          <div class="good">233</div>
        </div>
      </li>
    </ul>
    <ul class="right">
      <li class="text html-cursor">
        <img src="../../assets/img/1.jpg" alt="">
        <div class="title">
          <h3>卷妈碎碎念|当妈之后的顿悟分享给你们卷妈碎碎念|
            当妈之后的顿悟分享给你们卷妈碎碎念</h3>
        </div>
        <div class="detail">
          <img src="../../assets/img/1.jpg" alt="">
          <div class="author">Madisoon</div>
          <div class="good">233</div>
        </div>
      </li>
      <li class="text html-cursor">
        <img src="../../assets/img/2.jpg" alt="">
        <div class="title">
          <h3>卷妈碎碎念|当妈之后的顿悟分享给你们卷妈碎碎念|
            当妈之后的顿悟分享给你们卷妈碎碎念</h3>
        </div>
        <div class="detail">
          <img src="../../assets/img/2.jpg" alt="">
          <div class="author">Madisoon</div>
          <div class="good">233</div>
        </div>
      </li>
      <li class="text html-cursor">
        <img src="../../assets/img/3.jpg" alt="">
        <div class="title">
          <h3>卷妈碎碎念|当妈之后的顿悟分享给你们卷妈碎碎念|
            当妈之后的顿悟分享给你们卷妈碎碎念</h3>
        </div>
        <div class="detail">
          <img src="../../assets/img/3.jpg" alt="">
          <div class="author">Madisoon</div>
          <div class="good">233</div>
        </div>
      </li>
    </ul>
  </div>
</div>
