<div class="new-product-html">
  <ul class="list">
    <li class="content">
      <img src="assets/img/p30.jpg" alt="">
      <div class="title">
        P30,p30 pro 4800万像素，徕卡三摄，重新规则
      </div>
      <div class="detail">
        <div class="type">
          科技
        </div>
        <div class="time">
          2019-12-09 18:05
        </div>
        <div class="eye">
          <mat-icon class="eye-icon">thumb_up</mat-icon>
          <span>9867</span>
        </div>
      </div>
    </li>
    <li class="content">
      <img src="assets/img/5.jpg" alt="">
      <div class="title">
        华为MATE 20 大有可为
      </div>
      <div class="detail">
        <div class="type">
          潮流
        </div>
        <div class="time">
          2019-12-09 18:05
        </div>
        <div class="eye">
          <mat-icon class="eye-icon">thumb_up</mat-icon>
          <span>5552</span>
        </div>
      </div>
    </li>
  </ul>
</div>
