<div class="new-product-html">
  <router-outlet>
  </router-outlet>
  <ul class="list">
    <li class="content">
      <img src="assets/img/s10.png" alt="">
      <div class="title">
        S10+ 新一代手机设计不仅要令人瞩目，更是要展现科技力量
      </div>
      <div class="detail">
        <div class="type" (click)="openDetail()">
          手机
        </div>
        <div class="time">
          2019-12-09 18:05
        </div>
        <div class="eye">
          <mat-icon class="eye-icon">remove_red_eye</mat-icon>
          <span>974</span>
        </div>
      </div>
    </li>
    <li class="content">
      <img src="assets/img/p30.jpg" alt="">
      <div class="title">
        P30,p30 pro 4800万像素，徕卡三摄，重写规则
      </div>
      <div class="detail">
        <div class="type" (click)="openDetail()">
          科技
        </div>
        <div class="time">
          2019-12-09 18:05
        </div>
        <div class="eye">
          <mat-icon class="eye-icon">remove_red_eye</mat-icon>
          <span>9867</span>
        </div>
      </div>
    </li>
    <li class="content">
      <img src="assets/img/mate20.jpg" alt="">
      <div class="title">
        华为MATE 20 大有可为
      </div>
      <div class="detail">
        <div class="type">
          潮流
        </div>
        <div class="time">
          2019-12-09 18:05
        </div>
        <div class="eye">
          <mat-icon class="eye-icon">remove_red_eye</mat-icon>
          <span>5552</span>
        </div>
      </div>
    </li>
  </ul>
</div>
