<div class="new-product-detail">
  <div>
    <mat-icon class="icon" (click)="backPage()">keyboard_arrow_left</mat-icon>
  </div>

  <h4>
    S10+ 新一代手机设计不仅要令人瞩目，更是要展现科技力量
  </h4>
  <div class="source">
    <div class="name">三星官方</div>
    <div class="nickName">余辰异</div>
    <div class="time">发售：2019-09-20</div>
  </div>
  <div class="content">
    三星是S10系列都卖到脱销了，而且这次是国行版，三星也是第一次向大家展示它的“战绩”，三星居然把自己的“销量”给展示出来了，首次销量是三星S9的2.38倍，这也不容易啊，这不是荣耀或者小米的营销方案么？难不成我们国内地区的三星把小米的营销团队给挖去了？我记着上一部在我们国内卖脱销的三星手机还是S7
    edge，也就是国行三星的“黄金阶段”，这次S10又一次卖脱销，难不成国行三星要回归了？
    不过我们要谈的并不是三星S10的销量有多高，我们说说三星有哪些之前没有的黑科技。
  </div>
  <div class="show">
    <img src="assets/img/new-1.jpg" alt="">
    <img src="assets/img/new-2.png" alt="">
    <img src="assets/img/new-3.jpg" alt="">
    <img src="assets/img/new-4.jpg" alt="">
  </div>
</div>
