.home {
  .system-menu {
    display: flex;
    background-color: #fafafa;
    padding: 12px 0 12px 0;

    .menu-item {
      flex: 1;
      text-align: center;

      a {
        padding-bottom: 9px;

        &.active {
          box-sizing: border-box;
          border-bottom: 3px solid #e1bee7;
        }
      }
    }
  }

  .content {
    margin-top: 5px;
  }
}
