.home {
  .system-menu {
    display: flex;
    background-color: #f8f6f2;
    padding: 8px 0 8px 0;

    .menu-item {
      flex: 1;
      text-align: center;

      a {
        padding-bottom: 5px;

        &.active {
          box-sizing: border-box;
          border-bottom: 3px solid #077876;
        }
      }
    }
  }

  .content {
    margin-top: 5px;
  }
}
