.home {
  .system-menu {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);

    .menu-item {
      text-align: center;

      a {
        padding-bottom: 4px;
        font-size: 1.1rem;
        color: #555;

        &.active {
          box-sizing: border-box;
          border-bottom: 2px solid #e1bee7;
        }
      }
    }
  }

  .content {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
