<div class="praise-list-detail">
  <div>
    <mat-icon class="icon" (click)="goBack()">keyboard_arrow_left</mat-icon>
  </div>
  <div class="img">
    <img [src]="praiseListDetail['praiseCover']" alt="">
  </div>
  <div class="title">
    {{praiseListDetail['title']}}
  </div>
  <div class="detail">
    {{praiseListDetail['source']}} | {{praiseListDetail['gmtCreate'] | date:'yyyy-MM-dd HH:mm'}} | 爆料人:商家自荐
  </div>
  <div class="price">
    ¥ {{praiseListDetail['price']}}<a *ngIf="praiseListDetail['activity']"> | praiseListDetail['activity'] </a>
  </div>
  <div class="url">
    <a mat-stroked-button [href]="praiseListDetail['url']">直达链接</a>
  </div>
  <div class="content">
    {{praiseListDetail['content']}}
  </div>
</div>
