<div class="recommend">
  <!--轮播图-->
  <div class="carousel-map">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of carouselProduct" (click)="goNewProductDetail(item)">
          <img [src]="item['newCover']" alt="">
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <!-- 商品列表-->
  <div class="praise">
    <div class="main-title">
      推荐商品
    </div>
    <ul class="product-list">
      <li class="information" *ngFor="let item of recommendedProduct" (click)="navPraiseListDetail(item)">
        <img [src]="item['praiseCover']" alt="">
        <div class="detail">
          <div class="title">{{item['title']}}</div>
          <div class="price">{{item['price']}}元</div>
          <div class="source">
            <div>{{item['source']}} | {{item['gmtCreate'] | date:'HH:mm'}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="good-text">
    <div class="main-title">
      商品体验
    </div>
    <div class="list">
      <ul class="left">
        <li class="text html-cursor" *ngFor="let item of goodTextData" (click)="navGoodTextDetail(item)">
          <img class="thumbnail" [src]="item['articleCover']" alt="">
          <div class="title">
            <h3>{{item['title']}}</h3>
          </div>
          <div class="detail">
            <img [src]="item['header']" alt="">
            <div class="author">{{item['author']}}</div>
            <div class="good">
              <mat-icon class="icon">favorite_border</mat-icon>
              <label for="">{{item['good']}}</label>
            </div>
          </div>
        </li>
      </ul>
      <ul class="right">
        <li class="text html-cursor" *ngFor="let item of goodTextRightData" (click)="navGoodTextDetail(item)">
          <img class="thumbnail" [src]="item['articleCover']" alt="">
          <div class="title">
            <h3>{{item['title']}}</h3>
          </div>
          <div class="detail">
            <img [src]="item['header']" alt="">
            <div class="author">{{item['author']}}</div>
            <div class="good">
              <mat-icon class="icon">favorite_border</mat-icon>
              <label for="">{{item['good']}}</label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
