<div class="recommend">
  <!--轮播图-->
  <div class="carousel-map">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/img/1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="assets/img/2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="assets/img/3.jpg" alt="">
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <!-- 商品列表-->
  <ul class="product-list">
    <li class="information">
      <img src="assets/img/yeezy.jpg" alt="">
      <div class="detail">
        <div class="title">YEEZY 750 灰色版限量发售</div>
        <div class="price">1299元（限时）</div>
        <div class="source">
          <div>adidas官方 | 11.11</div>
        </div>
      </div>
    </li>
    <li class="information">
      <img src="assets/img/s10.png" alt="">
      <div class="detail">
        <div class="title">三星 GALAXY S10+限量发售</div>
        <div class="price">6999.9元包邮</div>
        <div class="source">
          <div>三星官方 | 12.24</div>
        </div>
      </div>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
