.recommend {
  .carousel-map {
    img {
      width: 100%;
      height: 180px
    }
  }

  .swiper-container {
    width: 100%;
    height: 180px
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .product-list {
    .information {
      display: flex;
      margin-top: 5px;
      padding: 8px 4px 8px 4px;
      background-color: #fafafa;

      img {
        width: 6rem;
        height: 6rem;
      }

      .detail {
        margin-left: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font: {
            size: 1.2rem;
            weight: 600;
          };
        }

        .price {
          font: {
            weight: 600;
          };
          color: #e53935;
        }

        .source {
          font: {
            size: .9rem;
            weight: 600;
          };
          color: rgba(0, 0, 0, .4);
        }
      }
    }
  }
}
