<div class="recommend">
  <!--轮播图-->
  <div class="carousel-map">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of carouselProduct" (click)="goNewProductDetail(item)">
          <img [src]="item['newCover']" alt="">
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <!-- 商品列表-->
  <div class="praise">
    <div class="main-title">
      推荐商品
    </div>
    <ul class="product-list">
      <li class="information" *ngFor="let item of recommendedProduct">
        <img [src]="item['img']" alt="">
        <div class="detail">
          <div class="title">{{item['title']}}</div>
          <div class="price">{{item['price']}}</div>
          <div class="source">
            <div>{{item['source']}} | {{item['time']}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="praise">
    <div class="main-title">
      商品体验
    </div>
    <ul class="product-list">
      <li class="information" *ngFor="let item of recommendedProduct">
        <img [src]="item['img']" alt="">
        <div class="detail">
          <div class="title">{{item['title']}}</div>
          <div class="price">{{item['price']}}</div>
          <div class="source">
            <div>{{item['source']}} | {{item['time']}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
